### Pandas in Python

Pandas is a powerful data manipulation library in Python, widely used for data analysis and data cleaning. It
provides two primary data structures: Series and DataFrame. A Series is a one-dimensional array-like object,
while a DataFrame is a two-dimensional, size-mutable, and potentially heterogeneous tabular data structure
with labeled axes (rows and columns).

In [3]:
import pandas as pd

In [3]:
## Series 
## A pandas Series is a one-dementional array like object that can hold any data type. It is similar to a column in a table.

import pandas as pd
data=[1,2,3,4,5]
series=pd.Series(data)
print("Series :\n",series)

Series :
 0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
## Creating a Series from dictionary
data={'a':1,'b':2,'c':3}
series_dict=pd.Series(data)
print("Series: \n",series_dict)

Series:
 a    1
b    2
c    3
dtype: int64

In [4]:
## Giving dirent indeces
data=[10,20,30]
index=['a','b','c']
pd.Series(data,index=index)

a    10
b    20
c    30
dtype: int64

In [6]:
## Dataframe
## creating dataframe from a dictionary of list
data={
    'name':['Ankit','Prakruti','Shweta'],
    'Age':[21,19,12],
    'city':['Agra','Puri','Agra']
}

df=pd.DataFrame(data)
print(df)
print(type(df))

       name  Age  city
0     Ankit   21  Agra
1  Prakruti   19  Puri
2    Shweta   12  Agra
<class 'pandas.core.frame.DataFrame'>

In [9]:
import numpy as np
np.array(df)

array([['Ankit', 21, 'Agra'],
       ['Prakruti', 19, 'Puri'],
       ['Shweta', 12, 'Agra']], dtype=object)

In [11]:
## Creating the dataframe fromlist of dictionary

data=[
    {'Name':'Ankit','Age':21,'city':'Agra'},
    {'Name':'Prakruti','Age':19,'city':'Puri'},
    {'Name':'Shweta','Age':12,'city':'Agra'},
]

In [14]:
df=pd.DataFrame(data)
print(df)
print(type(df))

       Name  Age  city
0     Ankit   21  Agra
1  Prakruti   19  Puri
2    Shweta   12  Agra
<class 'pandas.core.frame.DataFrame'>