## SQL And SQLite

SQL (Structured Query Language) is a standard language for managing and manipulating relational databases.
SQLite is a self-contained, serverless, and zero-configuration database engine that is widely used for embedded
database systems. In this lesson, we will cover the basics of SQL and SQLite, including creating databases,
tables, and performing various SQL operations.

In [1]:
import sqlite3

In [2]:
## Connect to an SQLite database
connection=sqlite3.connect('example.db')
connection

In [4]:
cursor=connection.cursor()

In [11]:
## Create a Table
cursor.execute('''
Create Table If Not Exists employee(
    id Integer Primary Key,
    name Text Not Null,
    age Integer,
    department text
    )
''')

## Commit the changes
connection.commit()

In [12]:
cursor.execute('''
Select * from employee
''')

In [13]:
## Insert the data in SQLite3
cursor.execute('''
Insert Into employee(name,age,department) 
               values('Ankit',21,'Data Scientist')

''')

cursor.execute('''
Insert Into employee(name,age,department) 
               values('Prakruti',19,'HR')

''')

cursor.execute('''
Insert Into employee(name,age,department) 
               values('Dhruv',21,'ML Engineer')

''')

## Commit the changes of the insertion
connection.commit()

In [16]:
## Querying the data from the table
cursor.execute('Select * from employee')
rows=cursor.fetchall()

## Print the queried data

for row in rows:
    print(row)

(None, 'Ankit', 21, 'Data Scientist')
(None, 'Prakruti', 19, 'HR')
(None, 'Dhruv', 21, 'ML Engineer')
(None, 'Ankit', 21, 'Data Scientist')
(None, 'Prakruti', 19, 'HR')
(None, 'Dhruv', 21, 'ML Engineer')

In [17]:
## Update the data in the table
cursor.execute('''
UPDATE employee
Set age = 22
where name='Ankit'
''')

In [ ]:
## Querying the data from the table
cursor.execute('Select * from employee')
rows=cursor.fetchall()

## Print the queried data

for row in rows:
    print(row)

(None, 'Ankit', 22, 'Data Scientist')
(None, 'Prakruti', 19, 'HR')
(None, 'Dhruv', 21, 'ML Engineer')
(None, 'Ankit', 22, 'Data Scientist')
(None, 'Prakruti', 19, 'HR')
(None, 'Dhruv', 21, 'ML Engineer')

In [19]:
## Delete duplicates while keeping the row with the smallest id
cursor.execute("""
DELETE FROM employee
WHERE rowid NOT IN (
    SELECT MIN(rowid)
    FROM employee
    GROUP BY name, department
);
""")

connection.commit()

In [20]:
## Querying the data from the table
cursor.execute('Select * from employee')
rows=cursor.fetchall()

## Print the queried data

for row in rows:
    print(row)

(None, 'Ankit', 22, 'Data Scientist')
(None, 'Prakruti', 19, 'HR')
(None, 'Dhruv', 21, 'ML Engineer')

In [21]:
## close the connection
connection.close()