In [1]:
# List 
list = ["Ankit", "Prakruti", "Shweta", "Dhruv"]
print(list)

['Ankit', 'Prakruti', 'Shweta', 'Dhruv']

In [5]:
# Assesing
print(list[0])

# Silacing
print(list[1:3])
print(list[:2])
print(list[2:])
print(list[-1])
print(list[-1:-2])

Ankit
['Prakruti', 'Shweta']
['Ankit', 'Prakruti']
['Shweta', 'Dhruv']
Dhruv
[]

In [11]:
# Methods in list

# Append
list.append("Ankit")
print(list)

['Ankit', 'Prakruti', 'Shweta', 'Dhruv', 'Ankit', 'Ankit']

In [13]:
list.insert(0,"Ankit Sharma")
print(list)

['Ankit Sharma', 'Ankit', 'Ankit Sharma', 'Prakruti', 'Shweta', 'Dhruv', 'Ankit', 'Ankit']

In [ ]:
# Remove
list.remove("Ankit Sharma") ## Remove the first occurance
print(list)

['Ankit', 'Ankit Sharma', 'Prakruti', 'Shweta', 'Dhruv', 'Ankit', 'Ankit']

In [ ]:
# Pop function
new_list = list.pop(1) ##Remove and return the last value
print(new_list)
print(list)

Ankit Sharma
['Ankit', 'Prakruti', 'Shweta', 'Dhruv', 'Ankit']

In [19]:
## Finding the index
print(list.index("Prakruti"))

1

In [ ]:
## Sorting
# print(list)
list.sort()

['Ankit', 'Ankit', 'Dhruv', 'Prakruti', 'Shweta']
None

In [3]:
## Slicing the list
num = [1,2,3,4,5,6,7,8,9,10]
print(num[2:5])
print(num[:5])
print(num[5:])
print(num[::2])
print(num[::-1]) ## reverse order of elements in a list
print(num[-1:-5:-1])

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[10, 9, 8, 7]

In [4]:
## Itrating over the list

for nums in num:
    print(nums)

1
2
3
4
5
6
7
8
9
10

In [5]:
## itrating with index
for index,nums in enumerate(num):
    print(index,nums)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [6]:
## List Comprehension
lst=[]
for x in range(10):
    lst.append(x**2)
print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

#### List Comprehension

Basics Syntax     [expression for item in list]

Example 1:    [x**2 for x in range(5)]

with conditional logic   [expression for item in list if condition]

Example 2:    [x**2 for x in range(5) if x%2==0]

Nested list Comprehension    [[expression for item in list] for item in list]

In [ ]:
[x**2 for x in range(10)] #Sqaure of set of numbers

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [8]:
[x**2 for x in range(10) if x%3==0]

[0, 9, 36, 81]

In [10]:
## Nested list comprehension

lst1=[1,2,3,4]
lst2=['a','b','c','d']

print([[i,j] for i in lst1 for j in lst2]) #pair=[[i,j] for i in lst1 for j in lst2]

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd']]